.header {
  padding: 2rem 4rem 0 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;

  .content {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;

    small {
      margin-left: 1rem;
      font-size: 1.3rem;
    }
  }
}
