.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 2rem;
  width: 25%;
  height: 92vh;
  background-color: lightgrey;
  li {
    list-style: none;
  }
}

.list_container {
}

.list_filter {
  &__item {
  }
}
