.container {
  padding: 0 3rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  .content {
    display: block;
    .todo_items {
      margin-bottom: 3rem;
      list-style: none;
    }
  }
}
