.container {
  background: #3d3d3d;
  color: white;
  padding: 0 2rem;
  height: 5rem;
  font-size: 2rem;
}

.inner {
  display: flex;
  margin: 0 1rem;
  justify-content: space-between;
  align-items: baseline;
  &_left {
    // display: flex;
    // align-items: center;
    padding: 1.2rem;
  }
  &_right {
    // display: flex;
    // align-items: center;
    padding: 1.2rem;
  }
}
